// Define variables for your color scheme

// For example:
$red: #7f2a3f;
$blue: #2f5ba3;
$yellow: #eacb4d;
$orange: #dbab59;
$green: #3f6d47;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #333333;
$white: #F7F7F7;
