.swal-modal {
  height: 200px;
  width: 150px;
  border-radius: 0;

}
.swal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin: 0px;
  font-size: 16px;
  font-align: center;
  margin-bottom: 0px;
  font-family: $headers-font;
}

.swal-footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 50px;
  margin-bottom: 20px;
}

.swal-button {
  background-color: $black;
  border-radius: 0;
}
